<div class="main">
  <h1>All Events</h1>
  <% if flash[:notice] %>
    <div><%= flash[:notice] %></div>
  <% end %>

  <ul>
    <% @events.each do |event| %>
      <li>
        <%= link_to "#{event.name} - #{event.creator.name}", event %>
        <% if (user_signed_in? && !event.attendee.include?(current_user)) %>
          <%= button_to "Join this event", attendance_join_path(event), method: :post %>
        <% end %>
      </li>
    <% end %>
  </ul>


  <% if user_signed_in? %>
    <%= link_to "Create new event", new_event_path %> <br>
    <%= link_to "Your events", users_path %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= button_to "Sign In", new_user_session_path %>
  <% end %>
</div>



