<h1>Event by <%= @event.creator.name %></h1>

<div>
  What? <br>
  <%= @event.event_type %> <br>
</div>

<div>
  Where? <br>
  <%= @event.location %><br>
</div>

<div>
  When? <br>
  <%= @event.time.strftime("%m/%d/%Y") %><br>
</div>

<div>
  <%= link_to "Back to events", events_path %>
</div>
